<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row" data-masonry='{"percentPosition": true }'>
                    {% if site.data.profile.education %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Education</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.education %}
                                <li class="media mb-1">
                                    {% if item.logo %}
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                                    {% else %}
                                    <i class="fas fa-building-columns mr-1 mt-1 text-muted" style="width: 18px;"></i>
                                    {% endif %}
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small">{{ item.dept }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.experience %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Experience</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.experience %}
                                <li class="media mb-1">
                                    {% if item.logo %}
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                                    {% else %}
                                    <i class="fas fa-users mr-1 mt-1 text-muted" style="width: 18px;"></i>
                                    {% endif %}
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small">{{ item.dept }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.awards %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>{{ site.data.profile.awards_title | default: "Honors & Awards" }}</h6>
                            <ul class="list small pl-3 mb-1">
                                {% for item in site.data.profile.awards %}
                                <li>
                                    <div class="d-flex flex-column flex-sm-row">
                                        <div>{{ item.name }}</div>
                                        {% if item.date %}
                                        <div class="ml-sm-auto mt-sm-auto no-break"><em>{{ item.date }}</em></div>
                                        {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                </div>

                {% if site.data.profile.projects %}
                <hr class="mx-2 my-3">
                <div class="mx-2">
                    <h6>Selected Engineering</h6>
                    <div class="profile-project-list">
                        {% for item in site.data.profile.projects %}
                        <div class="profile-project">
                            <div class="profile-project-heading">
                                <div>
                                    <strong>{{ item.name }}</strong>
                                    {% if item.affiliation %}
                                    <div class="small text-muted">{{ item.affiliation }}</div>
                                    {% endif %}
                                </div>
                                {% if item.date %}
                                <div class="small text-muted profile-project-date"><em>{{ item.date }}</em></div>
                                {% endif %}
                            </div>
                            {% if item.bullets %}
                            <ul class="small mb-0 mt-2 pl-3">
                                {% for bullet in item.bullets %}
                                <li>{{ bullet }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                {% if site.data.profile.technical_skills or site.data.profile.relevant_courses %}
                <hr class="mx-2 my-3">
                <div class="row">
                    {% if site.data.profile.technical_skills %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Technical Skills</h6>
                            <dl class="small mb-1 profile-fact-list">
                                {% for item in site.data.profile.technical_skills %}
                                <dt>{{ item.name }}</dt>
                                <dd>{{ item.value }}</dd>
                                {% endfor %}
                            </dl>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.relevant_courses %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Relevant Coursework</h6>
                            <p class="small mb-1">{{ site.data.profile.relevant_courses | join: ", " }}</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
